<!DOCTYPE html>
  <header>
  </header>
  <body>
    <form action="/payment/results">
      <div>
        <label for="number_apr">APR</label>
        <input type="text" id="number_apr" name="users_number_apr" placeholder="E.g. 5.42">
      </div>
      <div>
        <label for="number_years">Number of years</label>
        <input type="text" id="number_years" name="users_number_years" placeholder="How many years to repay?">
      </div>
      <div>
        <label for="number_principal">Principal</label>
        <input type="text" id="number_principal" name="users_number_principal" placeholder="How much principal?">
      </div>
      <button type="submit">Calculate monthly payment</button>
    </form>
  </body>
</html>
