<!DOCTYPE html>
  <header>
  </header>
  <body>
    <form action="/random/results">
      <div>
        <label for="number_min">Minimum</label>
        <input type="text" id="number_min" name="users_number_min" placeholder="E.g. 1.5">
      </div>
      <div>
        <label for="number_max">Maximum</label>
        <input type="text" id="number_max" name="users_number_max" placeholder="E.g. 4.5">
      </div>
      <button type="submit">Pick random number</button>
    </form>
  </body>
</html>
