<!DOCTYPE html>
  <header>
  </header>
  <body>
    <form>
      <h1>Random Results</h1>
      <dl>
        <dt>Minimum</dt>
        <dd>
          <%= params.fetch("users_number_min").to_i%>
        </dd>

        <dt>Maximum</dt>
        <dd>
          <%= params.fetch("users_number_max").to_i%>
        </dd>

        <dt>Random Number</dt>
        <dd>
          <%=rand(params.fetch("users_number_min").to_f..params.fetch("users_number_max").to_f)%>
        </dd>
      </dl>
      <a href="/random/new">
        Pick another random number
      </a>
    </form>
  </body>
</html>
