<!DOCTYPE html>
  <header>
  </header>
  <body>
    <form action="/square/results">
      <label for="number_square">Enter a number</label>
      <br>
      <input type="text" id="number_square" name="users_number" placeholder="What number do you want to square">
      <br>
      <button type="submit" >Calculate square</button>
    </form>
  </body>
</html>
