<!DOCTYPE html>
  <header>
  </header>
  <body>
    <form action="/square_root/results">
      <label for="number_square_root">Enter a number</label>
      <br>
      <input type="text" id="number_square_root" name="users_number" placeholder="What number do you want to square root">
      <br>
      <button type="submit">Calculate square root</button>
    </form>
  </body>
</html>
